<app-navbar></app-navbar>



<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm2" style="padding:20px;margin:30px">+ Create Board</button>
<!-- modal for adding Boards -->
<div class="modal fade bd-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">+ Create Board</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
  
		  <!-- Lane ID:<input [(ngModel)]="lId" class="form-control" id="card-laneId"> -->
		  Title:<input [(ngModel)]="bTitle" class="form-control" id="board-title"> 
  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" (click)="done(1)" class="btn btn-primary" data-dismiss="modal">Done</button>
		</div>
	  </div>
	</div>
  </div>

<!-- <button type="button" id="createBoardBtn" class="btn btn-primary btn-sm" style="padding:20px;margin:30px">+ Create Board</button>

<div id="createBoardForm" style="visibility:hidden; color: rgb(7, 7, 7);">

	Enter Title:
	<input id="bTitle" data-ng-model="test.bTitle" type="text">
	<br>
	<br>
	<button type="button" data-ng-click="test.create()" id="createBtn" class="btn btn-primary btn-sm">Create Board</button>

</div> -->

<div class="grid grid-pad" style="margin: 30px">
	<div *ngIf="currentUserRoleType == 1">
		<h2>Personal Boards:</h2>
		<div *ngFor="let board of Boards" class="col-1-4" [routerLink]="['/trello']">
			<div *ngIf="board.tv2Team == 0">
				<div (click)="storeBoardId(board.bId)" class="module board">
					<h5>{{board.bTitle}}</h5>
				</div>
			</div>
		</div>
	</div>

	<h2>Team Boards:</h2>
	<div *ngFor="let board of Boards" class="col-1-4" [routerLink]="['/trello']">
		<div *ngIf="board.tv2Team == 1">
			<div (click)="storeBoardId(board.bId)" class="module board">
				<h5>{{board.bTitle}}</h5>
			</div>
		</div>

	</div>
</div>