.module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: rgb(92, 84, 83);
    border-radius: 2px;
  }
  .module:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
  }
  .grid-pad {
    
    padding: 20px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    
    padding-right: 20px;
  }
  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }
.col-1-4 {
    width: 20%;
  
}
.grid {
  margin: 30px;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
[class="col-1-4"] {
    padding-right: 20px;
    padding-bottom: 20px;
    
    
}
h2{
    font: 22px "Helvetica Neue",Arial,Helvetica,sans-serif 
}



