<app-navbar></app-navbar>
<table class="table table-hover" id="listOfUsers">

	<thead class="thead-inverse">
		<tr>
			<th>User Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
			<th>Role Type</th>
			<th>Email</th>
			<th>Team</th>

		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let ScrumUsers of myData" (click)="gotoRequests(ScrumUsers)">

			<td>{{ScrumUsers.userId}}</td>
			<td>{{ScrumUsers.firstName}}</td>
			<td>{{ScrumUsers.lastName}}</td>
			<td>{{ScrumUsers.userName}}</td>
			<td>{{ScrumUsers.roleType}}</td>
			<td>{{ScrumUsers.email}}</td>
			<td>{{ScrumUsers.teamId}}</td>

		</tr>
	</tbody>
</table>