<app-navbar></app-navbar>
<form #register = "ngForm" (ngSubmit) = "onClickSubmit(register.value)" style="color: rgb(8, 0, 0);">
    
      <label>Username</label>
      <input type = "text" name= "userName" placeholder="Username" ngModel><br>
  
    
      <label >Password</label>
      <input type = "text" name= "password" placeholder="Password" ngModel><br>
    
      <label>FirstName</label>
      <input type = "text" name= "firstName" placeholder="FirstName" ngModel><br>
    
    
      <label>LastName</label>
      <input type = "text" name= "lastName" placeholder="LastName" ngModel><br>
    
    
      <label>Role</label>
      <input type = "number" name= "roleType" placeholder="Role" ngModel><br>
    
    
      <label>Email</label>
      <input type = "text" name= "email" placeholder="Email" ngModel><br>
   
    
    
      <label>Team Id</label>
      <input type = "number" name= "teamId" placeholder="Team Id" ngModel><br>
   
    
      <input type = "submit" value = "submit">
      <!-- <button type="submit" (click)="submit()" id="submitBtn" class="btn btn-primary">Submit</button> -->
      
    
</form>