<app-navbar></app-navbar>
<div id="register" style="color: white;">
    
      <label>Username</label>
      <input [(ngModel)]="user.userName" placeholder="Username">
      
  
    
      <label >Password</label>
      <input [(ngModel)]="user.password" placeholder="Password"><br>
    
    
      <label>FirstName</label>
      <input [(ngModel)]="user.firstName" placeholder="FirstName"><br>
   
    
    
      <label>LastName</label>
      <input [(ngModel)]="user.lastName" placeholder="LastName"><br>
   
    
    
      <label>Role</label>
      <input [(ngModel)]="user.roleType" placeholder="Role"><br>
   
    
    
      <label>Email</label>
      <input [(ngModel)]="user.email" placeholder="Email"><br>
   
    
    
      <label>Team Id</label>
      <input [(ngModel)]="user.teamId" placeholder="Team Id"><br>
   
    
      
      <button type="submit" (click)="submit()" id="submitBtn" class="btn btn-primary">Submit</button>
      
    
  </div>