<!-- NAVBAR START -->
<nav id ="nav" style="margin-left: 30px; margin-right: 30px;" class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top " data-spy="affix">
  
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    
     <span class="navbar-toggler-icon"></span>
  
   </button>
   
   <a class="navbar-brand" routerLink="/welcome" routerLinkActive="active">TV2</a>
 
   <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
       
     <ul class="navbar-nav mr-auto">
     
       <li class="nav-item">
       
         <a class="nav-link" id="profile" routerLink="/home" routerLinkActive="active">Home</a>
         
       </li>
     
       <li class="nav-item">
       
         <a class="nav-link" id="profile" routerLink="/profile" routerLinkActive="active">Profile</a>
         
       </li>
       
       <li *ngIf="currentUserRoleType == 1" class="nav-item">
       
         <a class="nav-link" id="users" routerLink="/viewUsers" routerLinkActive="active">View Users</a>
         
       </li>
       
       <li *ngIf="currentUserRoleType == 1" class="nav-item">
       
         <a class="nav-link" id="RegisterUser" routerLink="/register" routerLinkActive="active">Register User</a>
         
       </li>
    
     </ul>
   
   <span class="h3 mr-auto">Trello User</span>
   
     <ul class="navbar-nav ml-auto">
     
       <li class="nav-item">
       
         <a class="nav-link" id="loginButton" routerLink="/welcome" routerLinkActive="active">Logout</a>
         
       </li>
       
     </ul>
 
   </div>
   
 </nav>
 <!-- NAVBAR END -->