<app-login-navbar></app-login-navbar>

<br>
<br>

<div>
  
  <form (ngSubmit)="onSubmit()">
    <div class="form-group mx-auto col-4 " >
      <label for="userName">Username: </label> <input type="text"
        class="form-control" id="userName" placeholder="enter userName"
        [(ngModel)]="tv2user.userName" name="userName" required>
    </div>

    <div class="form-group mx-auto col-4 ">
      <label for="password">Password: </label> <input type="password"
        class="form-control" id="password" placeholder="enter password"
        [(ngModel)]="tv2user.password" name="password" required>
    </div>

    <div class="form-inline justify-content-center">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    
  </form>

</div>