<app-navbar></app-navbar>
<br>
<button type="button" class="btn btn-danger" [routerLink]="['/chart']">View Burndown</button>
<button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-sm">+Card</button>
<br>

<!-- show lanes and cards -->



<div *ngIf="showCard" class="grid grid-pad" style="width:2000px;height:500px;overflow:auto">
  <table>
    <tr *ngFor="let lane of Lanes" class="col-1-4">
      <br>
      <div *ngIf="lane.bId == currentBoardId ">
        <div class="module lane">
          <th><h1>{{lane.laneTitle}}</h1></th>
          <ng-container (click)="getTasks()" class="module card" *ngFor="let card of Cards" class="col-1-4">
             <div *ngIf="card.lId == lane.laneId "> 
            <!-- <div class="module card"> -->
              <tr><td><h5 data-toggle="modal" data-target=".card-modal-sm">{{card.cTitle}}</h5></td></tr>
              </div>
          </ng-container>

          </div>
          </div>
        
      
    </tr>
  </table>
</div>

<div class="modal fade card-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myCardModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardModalLabel">Descriptions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let task of Tasks">
          <div> {{task.info}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="done()" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
      
    </div>
  </div>
</div>


<!-- modal for adding cards -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a New Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Lane ID:
        <input [(ngModel)]="lId" class="form-control" id="card-laneId"> Title:
        <input [(ngModel)]="cTitle" class="form-control" id="card-title"> Description:
        <input [(ngModel)]="cDescriptoin" class="form-control" id="card-description"> Points:
        <input [(ngModel)]="cWorth" class="form-control" id="card-points">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="done()" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>