<app-navbar></app-navbar>
<table class="table table-hover" id="userTable">
	<thead class="thead-inverse">
		<tr>
		
			<th>User ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
			<th>Password</th>
			<th>Team</th>
			<th>Role Type</th>
			<th>Email</th>
			

		</tr>
	</thead>
	<tbody>
		
		<td>{{userId}}</td>
		<td>{{firstName}}</td>
		<td>{{lastName}}</td>
		<td>{{userName}}</td>
		<td>{{password}}</td>
		<td>{{team}}</td>
		<td>{{roleType}}</td>
		<td>{{email}}</td>
		

	</tbody>
</table>
<br>

<div *ngIf="showUpdate">
<button type="button" (click)="updateInfo()" id="updateBtn" class="btn btn-primary" style="color: white;">Update Profile</button>
</div>
<!-- <div id="profileForm" style="visibility:hidden; color: white;"> -->
	<div *ngIf="showTable" class="alert alert-success box-msg" role="alert">
	<!--
		 Enter new First Name: <input id="firstName" data-ng-model="test.firstName" type="text"> <br>
	Enter new Last Name: <input id="lastName" data-ng-model="test.lastName" type="text"> <br>
	Enter new Username:	<input id="userName" data-ng-model="test.userName" type="text"> <br>
	Enter new Password:	<input id="password" data-ng-model="test.password" type="text"> <br>
	Enter new Email:	<input id="email" data-ng-model="test.email" type="text"> <br> 
	-->

	Enter new First Name: <input [(ngModel)]="firstName" placeholder="name" /> <br>
	Enter new First Name: <input [(ngModel)]="lastName" placeholder="name" /> <br>
	Enter new First Name: <input [(ngModel)]="userName" placeholder="name" /> <br>
	Enter new First Name: <input [(ngModel)]="password" placeholder="name" /> <br>
	Enter new First Name: <input [(ngModel)]="email" placeholder="name" /> <br>

	<!-- <input [(ngModel)]="firstName" placeholder="name" /> -->
	<div *ngIf="showDone">
	<button type="button" (click)="done()" id="doneBtn" class="btn btn-primary">Done</button>
	</div>
</div>

